@model Koombu.Models.GroupViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Group details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Owner.FirstName) @Html.DisplayFor(model => model.Group.Owner.LastName)
        </dd>
        <dt>
            Users
        </dt>
        <dd>
            <ul class="list-unstyled">
                @foreach (var item in Model.UserGroups)
                {
                    <li>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</li>
                }
            </ul>
        </dd>
    </dl>
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Group.Id">Edit</a> |
    <a asp-action="AddUser" asp-route-id="@Model.Group.Id">Add user</a> |
    <a asp-action="RemoveUser" asp-route-id="@Model.Group.Id">Remove user</a> |
    @if (Model.UserGroups.Where(ug => ug.UserId == Model.User?.Id).Any())
    {
        <a asp-action="RemoveSelf" asp-route-id="@Model.Group.Id">Remove self</a>
        <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
