@model Koombu.Models.Group

@{
    ViewData["Title"] = "Delete group";
}

<h2>Quit group</h2>

<h3>Are you sure you want to quit this group?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.FirstName) @Html.DisplayFor(model => model.Owner.LastName)
        </dd>
    </dl>

    <form asp-action="RemoveSelf">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Quit group" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
