@model Koombu.Models.PostViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.User.FirstName) @Html.DisplayFor(model => model.Post.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Group.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Likes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Likes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
    </dl>
</div>
<div>
    <hr />
    <form class="min" asp-action="Like" method="post">
        <input type="hidden" name="Id" value="@Model.Post.Id" />
        <input type="submit" value="Like" class="btn btn-default" />
    </form>
    <form class="min" asp-action="Unlike" method="post">
        <input type="hidden" name="Id" value="@Model.Post.Id" />
        <input type="submit" value="Unlike" class="btn btn-default" />
    </form>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Post.Id">Edit</a>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>

<h2> Comments </h2>
<div>
    <form asp-action="Create" asp-controller="Comments" asp-route-postId="@Model.Post.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Comment.Content" class="control-label"></label>
            <textarea asp-for="@Model.Comment.Content" class="form-control"></textarea>
            <span asp-validation-for="@Model.Comment.Content" class="text-danger"></span>
        </div>
        <div class="hidden">
            @Html.EditorFor(m => m.Post)
        </div>
        <div class="form-group">
            <input type="submit" value="Comment" class="btn btn-default" />
        </div>
    </form>
    @foreach(Comment c in Model.Post.Comments)
    {
        <div>
            <h4>@c.User.FullName</h4>
            <div class="panel-body">
                @c.Content
            </div>
            @if (c.User.Email == User.Identity.Name)
            {
                <form asp-action="Delete" asp-controller="Comments" asp-route-postId="@Model.Post.Id" asp-route-id="@c.Id">
                    <div class="form-group">
                        <input type="submit" value="Delete Comment" class="btn-link" />
                    </div>
                </form>
            }
        </div>
    }
</div>
